body{
    background: rgb(1, 22, 29);
    background-size: cover;
}

.bg{
    background: black;
    overflow: hidden;
}
.bg h1{
    font-family: serif;
    font-variant: small-caps;
    padding-top: 22px;
    color: red;
}
.bg hr{
    border: 1px solid gray;
}
.bg a{
    position: relative;
    top: -7px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 5px;
    color: wheat;
    text-decoration: none;
    border: 1px solid rgb(100, 91, 91);
    padding: 5px 5px;
}
.bg a:hover{
    background: rgb(199, 8, 8);
    transition: .2s;
}
#imgup{
    width: 67em;
    height: 430px;
    margin-left: 0px;
    margin-top: 8px;
}
#imgdwn{
    width: 700px;
    height: 620px;
    margin-left: 210px;
    margin-top: 50px;
}

.abtpara h4{
    color: rgb(180, 180, 192);
    font-size: 1.2em;
    float: left;
    width: 65%;
    padding-bottom: 34px;
    margin-top: 35px;
}
.advr img{
    float: right;
    margin-top: 55px;
}
.form{
    margin-left: 14px;
    margin-top: 32px;
    width: 42%;
    background: white;
    float: left;
}   
.form h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    margin-top: 14px;
    background:linear-gradient(to LEFT, rgb(205, 219, 7), rgba(4, 116, 13, 0.884)); 
    color: white;
    padding: 2px;
}
.table{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.btns{
    text-align: center;
}
.btns .btn-success{
    position: relative;
    right: 10px;
}

.btns1{
    text-align: end;
    position: relative;
    margin-right: 12px;
}
.btns1 .btn-success{
    position: relative;
    right: 10px;
}
.btns2{
    text-align: center;
    padding: 10px;
}
.btns2 .btn-success{
    padding: 0 30px;
    font-weight: bold;
    color: whitesmoke;
}